In [2]:
import os
os.chdir("/Users/auguste/Desktop/Dossiers/HEC/Courses/RP/rp-adaptive-ml-trading/data/raw/AAPL")

In [7]:
import pandas as pd

# --- Load datasets ---
daily_factors = pd.read_csv("merged_daily_factors_final.csv", parse_dates=["date"])
price_data = pd.read_csv("AAPL.csv", parse_dates=["Date"])

# --- Standardize and clean ---
price_data.rename(columns={"Date": "date", "Adj Close": "adj_close"}, inplace=True)
price_data['date'] = price_data['date'].dt.normalize()
daily_factors['date'] = pd.to_datetime(daily_factors['date']).dt.normalize()

# --- Subset to only needed columns ---
price_data = price_data[['date', 'adj_close']].dropna()

# --- Merge datasets ---
df_merged = pd.merge(daily_factors, price_data, on="date", how="left")

# --- Diagnostics ---
missing = df_merged['adj_close'].isna().sum()
print(f"âœ… Merged dataset shape: {df_merged.shape}")
print(f"ðŸ§ª Missing 'close' values after merge: {missing}")

# Optional: drop rows without close prices
df_merged = df_merged.dropna(subset=["adj_close"]).reset_index(drop=True)

âœ… Merged dataset shape: (2790, 35)
ðŸ§ª Missing 'close' values after merge: 23

In [8]:
df_merged.head()

,date,ff3_mkt_rf,ff3_smb,ff3_hml,ff3_rf,ff3_mom,ff5_mkt_rf,ff5_smb,ff5_hml,ff5_rmw,...,vxdo,vxdh,vxdn,vxdl,riskfree_mktrf,riskfree_smb,riskfree_hml,riskfree_rf,riskfree_umd,adj_close
0,2014-01-02,-0.0088,-0.0028,0.0017,0.0,-0.0004,-0.0088,-0.0025,0.0017,-0.0032,...,12.88,13.67,11.78,13.31,-0.0088,-0.0028,0.0017,0.0,-0.0004,17.192823
1,2014-01-03,0.0003,0.0037,0.0003,0.0,0.0024,0.0003,0.0041,0.0003,-0.0035,...,13.31,13.33,12.77,12.89,0.0003,0.0037,0.0003,0.0,0.0024,16.815165
2,2014-01-06,-0.0034,-0.0057,0.0030,0.0,-0.0010,-0.0034,-0.0055,0.0030,-0.0032,...,12.89,13.09,12.52,12.68,-0.0034,-0.0057,0.0030,0.0,-0.0010,16.906860
3,2014-01-07,0.0068,0.0039,-0.0038,0.0,0.0051,0.0068,0.0032,-0.0038,-0.0008,...,12.68,12.68,11.95,12.17,0.0068,0.0039,-0.0038,0.0,0.0051,16.785954
4,2014-01-08,0.0004,-0.0002,-0.0010,0.0,0.0064,0.0004,-0.0001,-0.0010,-0.0047,...,12.17,12.62,11.24,12.29,0.0004,-0.0002,-0.0010,0.0,0.0064,16.892252